<div class="menu_fundo">
    <p style="margin-left:20% ;">Germina bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
    <p style="margin-left:35% ;"> Copyright 2022-2022 by Refsnes Data. All Rights Reserved.</p>
        
  </div>