<div class="caixa">

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="bg-img">
        <form class="form_login" action="/" method="post">
            <b>email</b><input class="input_login" type="text" name="email-login" required>
            <b>Senha</b><input class="input_login" type="password" name="psw-login" required>
            <button class="button_login" type="submit">Entrar</button>
            <a class="a_login" href="cadastro">Criar Conta</a>
        </form>
      </div>
    </div>
</div>
</div>
