<div class="caixa">
  <% if(locals.erroLogin) { %>
    <style>
      .erro{
        display: block;
        color:red;
      }
      .modal{
        display: block;
      }
    </style>
<% } %>
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="bg-img">
        <p id="msgErro" class="erro"> Usuário e/ou senha incorretos</p>
        <form class="form_login" action="/login" method="post">
            <b>email</b><input class="input_login" type="text" name="emailLogin" required>
            <b>Senha</b><input class="input_login" type="password" name="pswLogin" required>
            <button class="button_login" type="submit">Entrar</button>
            <a class="a_login" href="/cadastro">Criar Conta</a>
        </form>
      </div>
    </div>
  </div>
</div>
