<div id="menu_topo">
    <a href="/"> <img src="imagens/logo/logo-b.png" class="logo" ></a>
    <a href="produtos">Produtos</a>
    <a href="noticias">Notícias</a>
    <a href="#conta"id="conta">Sua Conta</a>
    <a href="sobre">Sobre</a>
  </div>