<div class="moldura">
    <a  href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm"> 
      <div class="noticia1_container">
        <div class="noticia1_square">
          <img class="noticia1_img" style="width:90%;"  src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
          <p class="noticia1_h1">Agrossistemas</p>
          <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
        </div>    
      </div>  
    </a>
  </div>