
<div class="wrapper" style="margin-top:1% ;">
    <div class="marquee" >
        <a class="texto" href="#p"> Açucar: 2,15% </a>
        <a class="texto" href="#p"> Arroz: 2,15% </a>
        <a class="texto" href="#p"> Boi-Gordo: 2,15% </a>
        <a class="texto" href="#p"> Bezerro: 2,15% </a>
        <a class="texto" href="#p"> Café: 2,15% </a>
        <a class="texto" href="#p"> Milho: 2,15% </a>
        <a class="texto" href="#p"> Soja: 2,15% </a>
        <a class="texto" href="#p"> Trigo: 2,15% </a>
        <!-- MANTER ESSE ESPAÇO -->
        <a class="texto" href="#p"> Açucar: 2,15% </a>
        <a class="texto" href="#p"> Arroz: 2,15% </a>
        <a class="texto" href="#p"> Boi-Gordo: 2,15% </a>
        <a class="texto" href="#p"> Bezerro: 2,15% </a>
        <a class="texto" href="#p"> Café: 2,15% </a>
        <a class="texto" href="#p"> Milho: 2,15% </a>
        <a class="texto" href="#p"> Soja: 2,15% </a>
        <a class="texto" href="#p"> Trigo: 2,15% </a>
        <!-- MANTER ESSE ESPAÇO -->
        <a class="texto" href="#p"> Açucar: 2,15% </a>
        <a class="texto" href="#p"> Arroz: 2,15% </a>
        <a class="texto" href="#p"> Boi-Gordo: 2,15% </a>
        <a class="texto" href="#p"> Bezerro: 2,15% </a>
        <a class="texto" href="#p"> Café: 2,15% </a>
        <a class="texto" href="#p"> Milho: 2,15% </a>
        <a class="texto" href="#p"> Soja: 2,15% </a>
        <a class="texto" href="#p"> Trigo: 2,15% </a>

    </div>
</div>