<!-- BRENO COLTRO DA COSTA
FERNANDO DE FACIO ROSSETTI
GIOVANE BRUNO NARDARI
LUIS HENRRIQUE CREPALDI MOLAS -->

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <script src="/js/login.js" defer></script>
  <link href="/css/noticias.css" rel="stylesheet">
  <link href="/css/slider.css" rel="stylesheet">
  <title>GERMINA | Home</title>
</head>
<body>
  <div id="menu_topo">

    <a href="/"> <img src="imagens/logo/logo-b.png"  class="logo"></a>
    <a href="produtos" >Produtos</a>
    <a href="noticias">Notícias</a>
    <a id="conta">Sua Conta</a>
    <a href="sobre">Sobre</a>
  </div>
  
  <%- include('./partials/login') %> 

  <div class="corpo_interno">

    <%- include('./partials/slider') %> 





    <% for(let i=0; i< 5 ;i++) { %>
      <div class="moldura">
        <a  href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm"> 
          <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask" style="width:90%;"  src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
              <p class="noticia1_h1">Agrossistemas</p>
              <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
            </div>    
          </div>  
        </a>
      </div>
      <% } %>
    



</body>
</html>