<!-- BRENO COLTRO DA COSTA
FERNANDO DE FACIO ROSSETTI
GIOVANE BRUNO NARDARI
LUIS HENRRIQUE CREPALDI MOLAS -->

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/login.css" rel="stylesheet">
  <script src="/js/login.js" defer></script>
  <link href="/css/noticias.css" rel="stylesheet">
  <title>GERMINA | Home</title>
</head>
<body>
  <div id="menu_topo">
    <a href="/">Germina</a>
    <a href="produtos">Produtos</a>
    <a href="noticias">Notícias</a>
    <a id="conta">Sua Conta</a>
    <a href="sobre">Sobre</a>
  </div>
  
  <%- include('./partials/login') %> 

  <div class="corpo">

    <%- include('./partials/slider') %> 

<table>
  <tr>
    <th>  
        
            <div class="noticia1_container">
              <div class="noticia1_square">
                <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
                <p class="noticia1_h1">Agrossistemas</p>
                <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
                <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm" target="_">Saiba mais</a>
              </div>    
            </div>
        
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

  </tr>


  <tr>
    <th>  
        
            <div class="noticia1_container">
              <div class="noticia1_square">
                <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
                <p class="noticia1_h1">Agrossistemas</p>
                <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
                <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm" target="_">Saiba mais</a>
              </div>    
            </div>
        
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>
    
  </tr>

  <tr>
    <th>  
        
            <div class="noticia1_container">
              <div class="noticia1_square">
                <img class="noticia1_mask" src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
                <p class="noticia1_h1">Agrossistemas</p>
                <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
                <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm" target="_">Saiba mais</a>
              </div>    
            </div>
        
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask"   src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask"   src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

  </tr>


  <tr>
    <th>  
       
            <div class="noticia1_container">
              <div class="noticia1_square">
                <img class="noticia1_mask"   src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/aceef70abc091dc82939f5ea7cb96eef.jpg">
                <p class="noticia1_h1">Agrossistemas</p>
                <p class="noticia1_p">Entenda o que são os agrossistemas e conheça as diferentes maneiras existentes de classifica-los.</p>
                <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/agrossistemas.htm" target="_">Saiba mais</a>
              </div>    
            </div>
        
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask"   src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>

    <th>

        <div class="noticia1_container">
            <div class="noticia1_square">
              <img class="noticia1_mask"   src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/315074d51b303fcc6f1a2dacd431307c.jpg">
              <p class="noticia1_h1">Setor Primário da Economia</p>
              <p class="noticia1_p">Compreenda as principais atividades e a relevância do setor primário da economia.</p>
              <a class="noticia1_link" href="https://mundoeducacao.uol.com.br/geografia/setor-primario-economia.htm" target="_">Saiba mais</a>
            </div>    
          </div>
    </th>
    
  </tr>

</table>

    



</body>
</html>