<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js" defer></script>
    <link href="/css/produtos.css" rel="stylesheet">
    <script src="/js/produto.js" defer></script>
    <link href="/css/slider.css" rel="stylesheet">
    <title>GERMINA | Produtos</title>
</head>
<body>
  <div id="menu_topo">
    <a href="/">Germina</a>
    <a href="produtos">Produtos</a>
    <a href="noticias">Notícias</a>
    <a id="conta">Sua Conta</a>
    <a href="sobre">Sobre</a>
  </div>

  <%- include('./partials/login') %> 
  <h1 style="margin-left:25% ;">PRODUTOS</h1>
  <div class="corpo_interno">
    <%- include('./partials/slider') %> 

  


  <% for(let i=0; i< 8 ;i++) { %>
  <div class="moldura">
    <div class="noticia1_container">
      <img class="noticia1_mask" style="width:100%;" src="imagens/produtos/acucar.jpg">
      <div class="overlay">
        <div class="text">Açucar</div>
      </div>
     </div>
  </div>
  <% } %>

    

    
  </div>
</body>
</html>