<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/login.js" defer></script>
    <link href="/css/produtos.css" rel="stylesheet">
    <script src="/js/produto.js" defer></script>
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/fundo.css" rel="stylesheet" >
    <link href="/css/menu_topo.css" rel="stylesheet" >
    <title>GERMINA | Produtos</title>
</head>
<body>
  <%- include('./partials/menu_topo') %> 

  <%- include('./partials/login') %> 
  <div class="corpo_interno">
    <%- include('./partials/slider') %> 

  


  <% for(let i=0; i< 8 ;i++) { %>
  <div class="moldura">
    <div class="noticia1_container">
      <img class="noticia1_mask" style="width:100%;" src="imagens/produtos/acucar.jpg">
      <div class="overlay">
        <div class="text">Açucar</div>
      </div>
     </div>
  </div>
  <% } %>
</div>

<%- include('./partials/fundo') %> 
</body>
</html>