<!-- BRENO COLTRO DA COSTA
FERNANDO DE FACIO ROSSETTI
GIOVANE BRUNO NARDARI
LUIS HENRRIQUE CREPALDI MOLAS -->

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/sobre.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet" >
    <script src="/js/login.js" defer></script>
    <title>GERMINA | Sobre</title>
</head>
<body>
  <div id="menu_topo">
    <a href="/">Germina</a>
    <a href="produtos">Produtos</a>
    <a href="noticias">Notícias</a>
    <a href="#conta"id="conta">Sua Conta</a>
    <a href="sobre">Sobre</a>
  </div>
  
  <%- include('./partials/login') %> 

  <table >
    <tr>
    <th>
      <div class="card1">
        <img src="Imagens/sobre/breno.jpg" style="width:100%">
        <h1>Breno</h1>
        <p class="title">CEO & Founder</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Contact</button></p>
      </div>
    </th>
    <th>
      <div class="card2" >
        <img src="Imagens/sobre/Fernando.jpg" style="width:100%">
        <h1>Fernando</h1>
        <p class="title">CEO & Founder</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Contact</button></p>
      </div>
    </th>
    <th>
      <div class="card3" >
        <img src="Imagens/sobre/Gi.jpg" style="width:100%">
        <h1>Giovani</h1>
        <p class="title">CEO & Founder</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Contact</button></p>
      </div>
    </th>
    <th>
      <div class="card4" >
        <img src="Imagens/sobre/Luis.jpg" style="width:100%">
        <h1>Luis</h1>
        <p class="title">CEO & Founder</p>
        <p>Harvard University</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Contact</button></p>
      </div>
    </th>
    </tr>
    </table>
</body>
</html>