
  
.menu_fundo {

    background-color: rgb(25, 98, 30);
    overflow:  hidden;
    align-items: center;
    margin-top: 3%;

}

.menu_fundo p {
    color: #f2f2f2;
    border-left: 30%;
    padding: 1px 50px;
    text-decoration:none;
    font-size: 15px;
    
}

