body {
  background-color: rgb(240,240,240);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.corpo_interno {
  margin: 0% 10%; /* top(-bottom), right(-left), bottom, left */
  background-color: azure;
  min-height: 1000px;
  display: flex;
  flex-flow: row wrap;
}


.corpo_esquerdo{
  width: 70%;
  height: 900px;
  margin-left: 1%;

}

.corpo_direito{

  width: 20%;
  height: 900px;
  margin-right: 1%;
  margin-left: 5%;

  display: flex;
  flex-flow: row wrap;
}

