.logo{
    height: 60px;
  }
  
  #menu_topo {
    overflow:  hidden;
    background-color: rgb(25, 98, 30);
    align-items: center;
    display: flex;
  }

  #menu_topo a {
    float:left;
    color: #f2f2f2;
    border-left: 30%;
    padding: 1px 50px;
    text-decoration:none;
    font-size: 30px;
  }

  #menu_topo a:hover {
    background-color: #ddd;
    color: black;
    
  }
  
