.logo{
    height: 60px;
  }
  
  #menu_topo {
    overflow:  hidden;
    background-color: rgb(25, 98, 30);
    align-items: center;
    display: flex;
  }

  #menu_topo a {
    float:left;
    color: #f2f2f2;
    border-left: 30%;
    padding: 1px 50px;
    text-decoration:none;
    font-size: 30px;
  }

  #menu_topo a:hover {
    background-color: #ddd;
    color: black;
    
  }
  




  .dropbtn {
    background-color: rgb(25, 98, 30);
    border: none;
    float:left;
    color: #f2f2f2;
    border-left: 30%;
    padding: 1px 50px;
    text-decoration:none;
    font-size: 30px;
  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(25, 98, 30);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .dropdown:hover .dropdown-content {display: block}
  
  .dropdown:hover .dropbtn {background-color: #ddd; color: black;}