body {
  background-color: rgb(240,240,240);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.corpo_interno {
  margin: 0% 10%; /* top(-bottom), right(-left), bottom, left */
  background-color: azure;
  max-height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items:center;
}

/* ******** */
/* PRODUTOS */
/* ******** */

table{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  font-size: 0.95vw;
  border: 1.5px solid rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

h4{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 1.1vw;
}

th, td {
  border: 1px solid rgba(30, 30, 30, 0.8);
  border-radius: 3px;
}

tr:hover {
  background-color: rgba(0, 116, 12, 0.8);
}

td{
  text-align: right;
}

#data{
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #9dd1dd;
  border-radius: 10px;
}

.noticia1_container:hover .overlay {
  opacity: 0.9;
}

.noticia1_container {
  position: relative;
  width: 100%;
}

.noticia1_mask{
  width: 100%;
  border-radius: 10px;
}

.moldura{
  height: 5%;
  width: 30%;
  padding: 1%;
}
