body {
  background-color: rgb(240,240,240);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*============================================*/
/*                CABEÃ‡ALHO                   */
/*============================================*/
#menu_topo {
  overflow:  hidden;
  background-color: rgb(25, 98, 30);
}
#menu_topo a {
  float:left;
  color: #f2f2f2;
  border-left: 30%;
  padding: 14px 50px;
  text-decoration:none;
  font-size: 30px;
}
#menu_topo a:hover {
  background-color: #ddd;
  color: black;
  
}

#header {
  overflow: hidden;
  border: 1px solid rgb(56, 66, 211);
  background-color: rgb(171, 205, 121);
  display: flex;
  align-items: center;
}
/*============================================*/
/*                 CORPO                      */
/*============================================*/
.corpo_interno {
  margin: 0% 10%; /* top(-bottom), right(-left), bottom, left */
  background-color: azure;
  min-height: 1000px;
  display: flex;
  flex-flow: row wrap;
}
.galeria {
  border: 1px solid black;
}
.galeriabotao {
  width: 100px;
  height: 200px;
  margin: 10px;
}
#carrossel {
  min-width: 1200px;
  min-height: 550px;
  border: 2px solid blue;
  align-items: center;
}
#estatico {
  min-width: 250px;
  min-height: 500px;
  border: 2px solid blue;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ******** */
/* PRODUTOS */
/* ******** */

table{
  margin-top: 5%;
  margin-left: 1%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a5adaf;
}

.noticia1_container:hover .overlay {
  opacity: 1;
}

.noticia1_container {
  position: relative;
  width: 98%;
  margin-top: 2%;
}

.moldura{
  height: 10%;
  width: 33%;
}