body {
  background-color: rgb(240,240,240);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.corpo_interno {
  margin: 0% 10%; /* top(-bottom), right(-left), bottom, left */
  background-color: azure;
  min-height: 1000px;
  display: flex;
  flex-flow: row wrap;
}

/* ******** */
/* PRODUTOS */
/* ******** */

table{
  margin-top: 5%;
  margin-left: 1%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a5adaf;
}

.noticia1_container:hover .overlay {
  opacity: 1;
}

.noticia1_container {
  position: relative;
  width: 98%;
  margin-top: 2%;
}

.moldura{
  height: 10%;
  width: 33%;
}