
.noticia1_container {
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
  }
  .noticia1_square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
  .noticia1_square {
    width: 100%;
    height: 100%;
    background: rgb(247, 255, 249);
    border-radius: 2px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  
  .noticia1_h1 {
    margin: auto;
    text-align: left;
    margin-top: 10%;
    padding-left: 5%;
    font-family: 'Merriweather', serif;
    font-size: 24px;  
    color: black;
  }
  
  .noticia1_img{
    width: 90%;
    margin-top: 2%;
    border-radius: 2px;
  }
  
  .noticia1_p {
   text-align: justify; 
   padding-left: 30px;
   padding-right: 30px;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   color: #636363;
   text-decoration: none;
  }
  
  .moldura{
    height: 10%;
    width: 100%;
  }