body {
    background-color: rgb(240,240,240);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#corpo {
    margin-left: 10%;
    margin-right: 10%;
    background-color: azure;
    min-height: 1000px;
}

/* == EQUIPE ==*/
table{
  margin-top: 2%;
  margin-left: 20%;
  
}

.ceo_img{
  width: 350px;
  height: 500px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: arial;
}


.title {
  color: grey;
  font-size: 18px;
}

.b {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

